.actionbuttons {
  margin-right: 8px;
  display: flex;
  .edit {
    margin-right: 8px;
  }
}
.colorbox {
  border: 1px solid #777;
  border-radius: 8px;
  height: 24px;
  width: 48px;
}

.gelpCx {
  border-radius: 0 !important;
}
