body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border: 0px solid #1878A4;
  background-color: #F5F5F5;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}
td, th {
  border: 1px solid #AAAAAA;
  padding: 6px 8px;
}
tr:nth-child(even) {
  background: #cfcfcf;
}
th {
  background: #000000;
  border-bottom: 3px solid #B3B3B3;
  font-size: 15px;
  font-weight: normal;
  color: #DADADA;
}

td { 
  color: #3C3C3C;
}

span { 
  cursor: pointer; 
}

#trash {
  color: orangered;
}

#trash :hover {
  color:red;
}

#edit {
  color: #3434ff;
}
#edit :hover {
  color:blue;
}

input[type=text], select {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  display: inline-block;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  overflow-x:auto;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 2px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 2px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    text-align: left;
  }
  body {
    width: 100%;
  }
}

.rspsv {
  overflow-x:auto;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table th {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/* HAKUPALKKI */
.searchBar {
  outline: none;
  margin-bottom: 10px;
}
.searchBar[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.searchBar::-webkit-search-decoration,
.searchBar::-webkit-search-cancel-button {
	display: none; 
}


.searchBar[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.searchBar[type=search]:focus {
	width: 90%;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


.searchBar:-moz-placeholder {
	color: #999;
}
.searchBar::-webkit-input-placeholder {
	color: #999;
}


.toggle {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:10em;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
  margin-bottom: 10px;
}
.toggle:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.toggle:active {
	position:relative;
	top:1px;
}

.addNew {
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #aade7c;
  margin-top: 12px;
  width: 100%;
}
.addNew:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.addNew:active {
	position:relative;
	top:1px;
}

.cancel {
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #dbe6c4 5%, #9ba892 100%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ced9bf;
  width: 100%;
  margin-top: 5px;
}
.cancel:hover {
	background:linear-gradient(to bottom, #9ba892 5%, #dbe6c4 100%);
	background-color:#9ba892;
}
.cancel:active {
	position:relative;
	top:1px;
}

.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.header, .footer {
  text-align: center;
  color: #3c3c3c;
  background-color: #f2f2f2;
  padding: 20px;
}

.responsive {
  width: 100%;
  height: auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}
