.footer {
  margin: auto;
  box-sizing: border-box;
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  color: #444;
  padding: 32px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  .rights {
    padding: 8px 0 0;
  }
}
