.header {
  padding: 16px;
  img {
    width: 100%;
  }
  text-align: center;
  color: #444;
  .title {
    font-size: 2em;
    font-weight: 600;
    font-family: cursive;
    color: darkgreen;
    text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
  }
  .text {
    font-size: 0.8em;
    color: #444;
    text-align: left;
    padding: 16px 0;
  }
}
